.catalog-goods-add {
  min-height: 210px;
  padding-bottom: 25px;
}

.catalog-goods-add__title {
  padding-top: 80px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111;
  text-align: center;
}

.catalog-goods-add__content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  color: #444;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
}

.catalog-goods-add__link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #f2f2f2;
  color: #222;
  min-width: 280px;
  min-height: 40px;
  padding-bottom: 9px;
  padding-top: 11px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: rgb(235, 235, 235);
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog-goods-add {
    min-height: 432px;
    width: 324px;
    margin-top: 140px;
    padding-bottom: 0;
    border: 1px solid rgba(205, 205, 205, .5);
  }

  .catalog-goods-add__title {
    padding-top: 165px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #111;
    text-align: center;
  }

  .catalog-goods-add__content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-align: center;
    color: #444;
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-right: 78px;
    margin-bottom: 37px;
  }

  .catalog-goods-add__link { // TODO Придумать как прижать кнопку что бы она не зависила от контента который выше!
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #444;
    background-color: #f2f2f2;
    min-width: 249px;
    min-height: 40px;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-left: 38px;
    margin-bottom: 40px;
  }

}
