.catalog-item-add {
  min-height: 130px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #cdcdcd;
  }
}

.catalog-item-add--last-item {
  margin-bottom: 40px;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: 130px;
    left: 0;
    background-color: #cdcdcd;
  }
}

.catalog-item-add__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #222222;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 8px;
}

.catalog-item-add__order-button {
  display: inline-block;
  min-width: 280px;
  min-height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 9px;
  padding-top: 11px;
  margin-bottom: 17px;

  &:active {
    background-color: #5eaa2f;
    color: rgba(256, 256, 256, 0.3);
  }

  &:hover {
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item-add {
    min-height: 140px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      position: absolute;
      content: "";
      width: 708px;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #cdcdcd;
    }
  }

  .catalog-item-add--last-item {
    margin-bottom: 40px;

    &::after {
      position: absolute;
      content: "";
      width: 708px;
      height: 1px;
      top: 140px;
      left: 0;
      background-color: #cdcdcd;
    }
  }

  .catalog-item-add__title {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #222222;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 8px;
    margin-left: 38px;
  }

  .catalog-item-add__order-button {
    min-width: 633px;
    height: 40px;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-bottom: 28px;
    margin-left: 38px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item-add {
    width: 935px;
    min-height: 71px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      position: absolute;
      content: "";
      width: 895px;
      height: 1px;
      top: 0;
      left: 38px;
      background-color: #cdcdcd;
    }
  }

  .catalog-item-add__order-button {
    min-width: 245px;
    height: 40px;
    padding-bottom: 12px;
    padding-top: 13px;
    margin-bottom: 15px;
    margin-top: 16px;
    margin-left: 38px;
  }
}
