.catalog-page-items {
  min-height: 210px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 0;
    left: -20px;
    background-color: #ededed;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 210px;
    left: -20px;
    background-color: #ededed;
  }
}

.catalog-page-items__title {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 14px;
  width: 80px;
}

.catalog-page-items__order-button {
  display: inline-block;
  min-width: 280px;
  min-height: 40px;
  background-color: #68b738;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 9px;
  padding-top: 11px;
  margin-bottom: 24px;

  &:active {
    background-color: #5eaa2f;
    color: rgba(256, 256, 256, .3);
  }


  &:hover {
    background-color: #5eaa2f;
  }

}

.catalog-page-items__wrapper {
  min-width: 140px;
}

.catalog-page-items__description {
  min-width: 140px;
}

@media (min-width: $tablet-width) {

  .catalog-page-items {
    min-height: 572px;
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    background-image: linear-gradient(
     #fff 0%, #fff 140px,
    #f2f2f2 140px, #f2f2f2 100% );
    background-position: 0 0px;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      top: 0;
      left: 0px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      top: 0px;
      left: 0px;
    }
  }

  .catalog-page-items__title {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 14px;
    margin-left: 98px;
    min-width: 145px;
  }

  .catalog-page-items__order-button {
    display: inline-block;
    min-width: 249px;
    height: 40px;
    background-color: #68b738;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-left: 38px;
    margin-bottom: 0px;

  }

  .catalog-page-items__wrapper {
    min-width: 255px;
  }

  .catalog-page-items__description {
    min-width: 150px;
  }
}

@media (min-width: $desktop-width) {

  .catalog-page-items {
    min-height: 574px;
    width: 245px;
    padding-top: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    background-image: linear-gradient(
    #fff 0%, #fff 140px,
    #f2f2f2 140px, #f2f2f2 100% );
    background-position: 0 0px;
    background-repeat: no-repeat;
    padding-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      top: 0;
      left: 0px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      top: 0px;
      left: 0px;
    }
  }

  .catalog-page-items__title {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 14px;
    margin-left: 98px;
    min-width: 145px;
  }

  .catalog-page-items__order-button {
    display: inline-block;
    min-width: 169px;
    height: 40px;
    background-color: #68b738;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-left: 38px;
    margin-bottom: 0px;
  }

  .catalog-page-items__wrapper {
    min-width: 245px;
  }

  .catalog-page-items__description {
    min-width: 150px;
  }
}
