.example {
  background-color: #f2f2f2;
  width: 100%;
}

.example__wrapper {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto;
}

.example__main-title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-bottom: 28px;
}

.example__content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.example__description {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.example__choose-state {
  padding-bottom: 40px;
  margin: 0 auto;
  min-height: 400px;
}

.example__title {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  margin-bottom: 280px;
}

.example__switch {
  font-size: 16px;
  line-height: 20px;
}

.example__switch--state-was {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 280px;
    top: -280px;
    left: 0;
    background-image: url(../img/cat-before-mobile.png);
    background-repeat: no-repeat;
  }
}

.example__switch--state-now {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 280px;
    top: -280px;
    left: 0;
    background-image: url(../img/cat-after-mobile.png);
    background-repeat: no-repeat;
  }
}

/*
#was:checked~.example__switch--state-was::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  top: 1px;
  left: 1px;
  border: 2px solid #818181;
  border-radius: 50%;
  cursor: pointer;
}

#now:checked~.example__switch--state-now::before {

} */

.example__choose-state,
.example__main-title,
.example__content,
.example__description {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {

  .example {
    background-color: #fff;
    background-image: linear-gradient(to right,
     #f2f2f2 0%, #f2f2f2 50%,
    #e6e6e6 50%, #e6e6e6 100% );
    background-position: 0 355px;
    background-repeat: no-repeat;
    width: 100%;
  }

  .example__wrapper {
    background-color: transparent;
    width: 768px;
    margin: 0 auto;
  }

  .example__main-title {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    color: #111;
    margin: 0;
    padding: 0;
    padding-top: 46px;
    margin-bottom: 51px;
  }

  .example__content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .example__description {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .example__choose-state {
    padding-bottom: 40px;
    margin: 0 auto;
    min-height: 400px;
  }

  .example__title {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 43px;
    margin-bottom: 280px;
  }

  .example__switch {
    font-size: 16px;
    line-height: 20px;
  }

  .example__switch--state-was {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 690px;
      height: 517px;
      top: -460px;
      left: 0;
      background-image: url(../img/tablet/before-desktop.png);
      background-repeat: no-repeat;
    }
  }

  .example__switch--state-now {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 690px;
      height: 517px;
      top: -460px;
      left: 0;
      background-image: url(../img/tablet/after-desktop.png);
      background-repeat: no-repeat;
    }

  }


}
