.features {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.features__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}
