.feature-item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
}

.feature-item__content {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 80px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border: 30px solid #68b738;
  }

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 29px;
    left: 15px;
    top: 15px;
    transform: scale(1.5);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    z-index: 10;
  }

  &--image-1::before {
    background-image: url("../img/retina/advantage-leaf@1x.png");
  }

  &--image-2::before {
    background-image: url("../img/retina/advantage-powder@1x.png");
  }

  &--image-3::before {
    background-image: url("../img/retina/advantage-dining@1x.png");
  }

  &--image-4::before {
    background-image: url("../img/retina/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .feature-item {
    position: relative;
    margin-bottom: 0;
    width: 354px;
    min-height: 330px;

    &--image-1::after {
      position: absolute;
      content: "1";
      font-family: "Oswald", "Helvetica", sans-serif;
      font-size: 281px;
      font-weight: 400;
      width: 80px;
      height: 281px;
      top: 156px;
      left: 115px;
      color: #f2f2f2;
      z-index: -1;
    }

    &--image-2::after {
      position: absolute;
      content: "2";
      font-family: "Oswald", "Helvetica", sans-serif;
      font-size: 281px;
      font-weight: 400;
      width: 80px;
      height: 281px;
      top: 156px;
      left: 115px;
      color: #f2f2f2;
      z-index: -1;
    }

    &--image-3::after {
      position: absolute;
      content: "3";
      font-family: "Oswald", "Helvetica", sans-serif;
      font-size: 281px;
      font-weight: 400;
      width: 80px;
      height: 281px;
      top: 156px;
      left: 115px;
      color: #f2f2f2;
      z-index: -1;
    }

    &--image-4::after {
      position: absolute;
      content: "4";
      font-family: "Oswald", "Helvetica", sans-serif;
      font-size: 281px;
      font-weight: 400;
      width: 80px;
      height: 281px;
      top: 156px;
      left: 115px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .feature-item__content {
    padding-top: 172px;
    padding-left: 0;
    width: 250px;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 0;
      top: 57px;
      border: 40px solid #68b738;
    }

    &::before {
      position: absolute;
      content: "";
      width: 26px;
      height: 29px;
      left: 26px;
      top: 80px;
      transform: scale(1.5);
      background-repeat: no-repeat;
      background-size: 30px 30px;
      z-index: 10;
    }

    &--image-1::before {
      background-image: url("../img/retina/advantage-leaf@1x.png");
    }

    &--image-2::before {
      background-image: url("../img/retina/advantage-powder@1x.png");
    }

    &--image-3::before {
      background-image: url("../img/retina/advantage-dining@1x.png");
    }

    &--image-4::before {
      background-image: url("../img/retina/advantage-clock@1x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .feature-item {
    position: relative;
    margin-bottom: 0;
    width: 305px;
    min-height: 330px;
  }
}
