.main-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 1200px;
    margin: 0 auto;
  }
}
