.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation__logo {
  display: inline-block;
  position: relative;
}

.main-navigation__menu-button {
  display: inline-block;
  position: relative;
  min-width: 18px;
}



@media (min-width: $tablet-width) {
  .main-navigation {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 100px;
  }

  .main-navigation__menu-button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    width: $desktop-width;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    min-height: 59px;
    background-color: transparent;
  }

  .main-navigation__menu-button {
    display: none;
  }

  .main-navigation__link:hover {
    opacity: 0.8;
  }

  .main-navigation__link:active {
    opacity: 0.6;
  }
}
