.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation__logo,
.main-navigation__menu-button {
  display: inline-block;
  position: relative;
}

.main-navigation__menu-button::before {
  position: absolute;
  content: "";
  background-color: #111;
  width: 24px;
  height: 3px;
  transform: rotate(-45deg)
}

.main-navigation__menu-button::after {
  position: absolute;
  content: "";
  background-color: #111;
  width: 24px;
  height: 3px;
  transform: rotate(45deg)
}
