.main-header {
  min-height: 65px;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: $tablet-width;
    margin: 0 auto;
  }

}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1300px;
    margin: 0 auto;
  }
}
