.navigation-list {
  @include reset-ul;
}

.navigation-list__item-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 18px;
  display: inline-block;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
}

.navigation-list__item {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}


@media (min-width: $tablet-width) {
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation-list__item {
    text-align: center;
    margin-left: 36px;
    margin-right: 0;

    &--first-item {
      margin-left: 0;
    }
  }

  .navigation-list__item-link {
    color: #222222;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding-bottom: 9px;

    &--active {
      border-bottom: 2px solid #68b738;
    }

    &--main-active {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 696px;
    min-width: 470px;

    &::before {
      position: absolute;
      content: "";
      width: 680px;
      height: 696px;
      top: 0;
      right: -110px;
      z-index: -1;
      background-image: url(../img/desktop/index-background-desktop.jpg);
    }

    &--inner-page {
      min-height: 100px;
      min-width: 470px;
    }

    &--inner-page::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      top: 0;
      right: 0;
    }
  }

  .navigation-list__item-link {
    font-size: 20px;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 9px;
    display: inline-block;

    &--inner-page {
      color: #222;
    }

    &--active {
      border-bottom: 2px solid #68b738;
    }

    &--main-active {
      border-bottom: 2px solid #fff;
    }
  }
}
