.option-items-list {
  @include reset-ul;
}

.option-items-list__item {
  position: relative;
  min-height: 266px;
  width: 280px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 22px;
    top: 24px;
    border: 25px solid #68b738;
    border-radius: 50%;
  }

  &--img-put-weight::after {
    position: absolute;
    content: "";
    width: 268px;
    height: 112px;
    left: -54px;
    top: 5px;
    transform: scale(0.5);
    background-image: url("../img/retina/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-size: 134px 56px;
  }

  &--img-lose-weight::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 194px;
    left: -3px;
    top: -6px;
    transform: scale(0.7);
    background-image: url("../img/retina/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 90px 70px;
  }
}

/*   &--img-lose-weight::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 49px;
    left: 30px;
    top: 24px;
    background-image: url(../img/cat_lose_weight.svg);
    background-repeat: no-repeat;
    z-index: 5;
  }

    &--img-put-weight::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    left: 22px;
    top: 24px;
    background-image: url(../img/cat_put_weight.svg);
    background-repeat: no-repeat;
  } */

.option-items-list__title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  padding-top: 37px;
  padding-left: 92px;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 300;
  color: #111111;
  text-transform: uppercase;
}

.option-items-list__content {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 20px;
  padding-bottom: 43px;
  position: relative;

  &--lose-weight {
    padding-right: 34px;
  }

  &--put-weight {
    padding-right: 59px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 1px;
    left: 20px;
    top: 115px;
    background-color: #d9d9d9;
  }
}

.option-items-list__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  padding-top: 20px;
  padding-left: 20px;

  &:active {
    opacity: 0.3;
  }

  /*  &::after {
    position: absolute;
    content: "";
    top: 22px;
    right: -24px;
    width: 17px;
    height: 3px;
    margin: 10px 0;
    background: #818181;
  }

  position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 27px;
    left: 112px;
    border-width: 6px 0 6px 7px;
    border-style: solid;
    border-color: transparent #818181;
*/

  &--lose-weight::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    left: 105px;
    top: 28px;
    background-image: url("../img/option-item__arrow-right.svg");
    background-repeat: no-repeat;
  }

  &--img-put-weight::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    left: 102px;
    top: 28px;
    background-image: url("../img/option-item__arrow-right.svg");
    background-repeat: no-repeat;
  }

  /*  &::before {
     position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    left: 105px;
    top: 28px;
    background-image: url(../img/option-item__arrow-right.svg);
    background-repeat: no-repeat;
    } */
}

@media (min-width: $tablet-width) {
  .option-items-list__item {
    position: relative;
    min-height: 372px;
    width: 708px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 446px;
      top: 90px;
      border: 100px solid #68b738;
      border-radius: 50%;
    }

    &--img-put-weight::after {
      position: absolute;
      content: "";
      width: 134px;
      height: 60px;
      left: 473px;
      top: 165px;
      transform: scale(1.9);
      background-image: url("../img/retina/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 134px 56px;
    }

    &--img-lose-weight::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 90px;
      left: 486px;
      top: 153px;
      transform: scale(2.75);
      background-image: url("../img/retina/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 90px 70px;
    }
  }

  .option-items-list__title {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 78px;
    padding-left: 54px;
    font-size: 24px;
    line-height: 37px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 300;
    color: #111111;
    text-transform: uppercase;
  }

  .option-items-list__content {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-left: 54px;
    padding-bottom: 20px;

    &--lose-weight {
      padding-right: 284px;
    }

    &--put-weight {
      padding-right: 314px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 20px;
      top: 115px;
      background-color: #d9d9d9;
    }
  }

  .option-items-list__link {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    padding-top: 20px;
    padding-left: 54px;

    &--lose-weight::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 11px;
      left: 155px;
      top: 32px;
      background-image: url("../img/option-item__arrow-right.svg");
      background-repeat: no-repeat;
    }

    &--img-put-weight::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 11px;
      left: 147px;
      top: 32px;
      background-image: url("../img/option-item__arrow-right.svg");
      background-repeat: no-repeat;
    }
  }
}

/*     &::after {
      position: absolute;
      content: "";
      top: 28px;
      right: -24px;
      width: 17px;
      height: 3px;
      margin: 10px 0;
      background: #818181;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 33px;
      left: 164px;
      border-width: 6px 0 6px 7px;
      border-style: solid;
      border-color: transparent #818181;
    } */

/* &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 11px;
      left: 155px;
      top: 32px;
      background-image: url(../img/option-item__arrow-right.svg);
      background-repeat: no-repeat;
    } */

@media (min-width: $desktop-width) {
  .option-items-list {
    display: flex;
  }

  .option-items-list__item {
    position: relative;
    min-height: 372px;
    width: 570px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 52px;
      top: 47px;
      border: 50px solid #68b738;
      border-radius: 50%;
    }

    &--img-put-weight::after {
      position: absolute;
      content: "";
      width: 134px;
      height: 56px;
      left: 34px;
      top: 69px;
      transform: scale(1);
      background-image: url("../img/retina/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 134px 56px;
    }

    &--img-lose-weight::after {
      position: absolute;
      content: "";
      width: 70px;
      height: 97px;
      left: 52px;
      top: 62px;
      transform: scale(1.35);
      background-image: url("../img/retina/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 90px 70px;
    }
  }

  .option-items-list__title {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 75px;
    padding-top: 81px;
    padding-left: 216px;
    font-size: 36px;
    line-height: 37px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 52px;
      top: 47px;
      border: none;
      border-radius: 50%;
    }
  }

  .option-items-list__content {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    padding-left: 52px;
    padding-bottom: 20px;

    &--lose-weight {
      padding-right: 56px;
    }

    &--put-weight {
      padding-right: 74px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 20px;
      top: 115px;
      background-color: #d9d9d9;
    }
  }

  .option-items-list__link {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #111111;
    padding-top: 20px;
    padding-left: 54px;

    &--lose-weight::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 11px;
      left: 155px;
      top: 32px;
      background-image: url("../img/option-item__arrow-right.svg");
      background-repeat: no-repeat;
    }

    &--img-put-weight::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 11px;
      left: 147px;
      top: 32px;
      background-image: url("../img/option-item__arrow-right.svg");
      background-repeat: no-repeat;
    }

    /* &::after {
      position: absolute;
      content: "";
      top: 28px;
      right: -24px;
      width: 17px;
      height: 3px;
      margin: 10px 0;
      background: #818181;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 33px;
      left: 164px;
      border-width: 6px 0 6px 7px;
      border-style: solid;
      border-color: transparent #818181;
    } */
  }
}
