.option-items-list {
  @include reset-ul;
}

.option-items-list__item {
  position: relative;
  min-height: 266px;
  width: 280px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.option-items-list__title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  padding-top: 37px;
  padding-left: 92px;
  font-size: 24px;
  line-height: 37px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight:300;
  color: #111111;
}

.option-items-list__title::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 22px;
  top: 24px;
  border: 25px solid #68b738;
  border-radius: 50%;
}

.option-items-list__title--img-lose-weight::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 49px;
  left: 30px;
  top: 24px;
  background-image: url(../img/cat_lose_weight.svg);
  background-repeat: no-repeat;
  z-index: 5;
}

.option-items-list__title--img-put-weight::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  left: 22px;
  top: 24px;
  background-image: url(../img/cat_put_weight.svg);
  background-repeat: no-repeat;
}

.option-items-list__content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  padding-left: 20px;
  padding-bottom: 20px;
}

.option-items-list__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #111;
  padding-top: 20px;
  padding-left: 20px;
}

.option-items-list__link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 11px;
  left: 105px;
  top: 28px;
  background-image: url(../img/option-item__arrow-right.svg);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .option-items-list__item {
    position: relative;
    min-height: 372px;
    width: 708px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

}

